Apex7000_BillValidator\bin\*
Apex7000_BillValidator\obj\*
Apex7000_BillValidator_Test\bin\*
Apex7000_BillValidator_Test\obj\*
Apex7000_BillValidator/obj/
Apex7000_BillValidator_Test/bin/
Apex7000_BillValidator_Test/obj/
API_Test/bin/
API_Test/obj/
Apex7000_BillValidator/bin/
docs/
PyramidNETRS232Installer/bin/
PyramidNETRS232Installer/obj/
packages/
PyramidNETRS232_TestApp_Simple/bin/
PyramidNETRS232_TestApp_Simple/obj/
*.nupkg
PauseResumeCLI/obj/
PauseResumeCLI/bin/
/.idea/
