<?xml version="1.0" encoding="UTF-8"?>

<!-- NEVER EVER CHANGE THE UPGRADE CODE -->
<?define UpgradeCode = "{5976a455-fa1f-44d2-91fa-53cc2beca27f}" ?>

<?define Version = "1.0.1" ?>
<?define BetaProductVersion="1.0.0" ?>
<?define Name="Pyramid NET RS-232" ?>
<?define Description="Pyramid NET RS-232 Installer" ?>
<?define Manufacturer="Pyramid Technologies Inc" ?>
<?define Comments="Built by Pyramid Technologies Inc with Wix 3.9" ?>

<?define log4net="log4net.dll"?>
<?define PyramidNETRS232="PyramidNETRS232.dll"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
          xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Product Id="*"
           Name="$(var.Name)"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*"
             Keywords="Installer"
             Description="$(var.Description)"
             Comments="$(var.Comments)"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />
    
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

    <InstallExecuteSequence>
      <Custom Action="IsPrivileged" Before="LaunchConditions">
        Not Privileged
      </Custom>
    </InstallExecuteSequence>
    <CustomAction Id="IsPrivileged" Error="You must be an admin to install this product" />

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/> 
      
		<Feature Id="ProductFeature" Title="PyramidNETRS232Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
          <ComponentRef Id="StartMenuShortcuts" />
    </Feature>  
  
    <Icon Id="icon.ico" SourceFile="$(var.SolutionDir)\icon.ico" />
	</Product>

	<Fragment>        
      <Directory Id="TARGETDIR" Name="SourceDir">
			
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="$(var.Manufacturer)">
            <Directory Id="PYRAMID_APP" Name="$(var.Name)"/>
          </Directory>
			  </Directory>      
      
      <!-- Make a presentable program menu entry -->
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.Manufacturer)">
          <Component Id="StartMenuShortcuts" Guid="B6862B35-EB38-404A-87A9-72C7BAD7B146">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
            <util:InternetShortcut Id="WebsiteShortcut" Name="RS-232 API Wiki" Target="https://github.com/PyramidTechnologies/netPyramid-RS-232/wiki" />
          </Component>
        </Directory>
      </Directory>    
  
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="PYRAMID_APP">
      <Component Id="ProductComponent">
        <File Source="$(var.PyramidNETRS232_TestApp.TargetPath)" KeyPath="yes">
                <Shortcut Id="Start_Menu_SCT" Directory="ProgramMenuDir" Name="$(var.Name) $(var.Version)" WorkingDirectory="INSTALLDIR" Icon="icon.ico" IconIndex="0" Advertise="yes" />
                <Shortcut Id="Desktop_SCT" Directory="DesktopFolder" Name="$(var.Name) $(var.Version)" WorkingDirectory="INSTALLDIR" Icon="icon.ico" IconIndex="0" Advertise="yes" />
        </File>
      </Component>
      <Component Id="log4net">
        <File Source="$(var.PyramidNETRS232_TestApp.TargetDir)$(var.log4net)"/>
      </Component>
      <Component Id="rs232lib">
          <File Source="$(var.PyramidNETRS232_TestApp.TargetDir)$(var.PyramidNETRS232)"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>